@model IEnumerable<Students.Core.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de estudiantes</h2>

<table class="table table-striped">    
    <thead>
        <tr>
            <th colspan="8" style="text-align:right;">
                 <a asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Agregar estudiante</a>
            </th>
        </tr>
        <tr>
            <th>No Estudiante</th>
            <th>Nombre(s)</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Edad</th>
            <th>Genero</th>
            <th>Grado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
